---
import type { Property } from '../data/content';
interface Props { property: Property; }
const { property } = Astro.props;
---
<span class={`status-chip status-${property.status_key}`}>{property.status}</span>
